.header{
    /* border: 2px solid red; */
    width:100%;
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    
    color: white;
    background-color: #030303;
    font-size: 4vw;
    padding-bottom:10px;
    box-shadow: 0px 1px 20px rgb(71, 69, 69);
    z-index: 100;
    font-family: 'Cairo', sans-serif;
}

@media(max-width:1000px){
    .header{
        padding-top: 15px;
        font-size: 5.4vw;
    }
}